:root {
    --palette-colour-1: #23272B;
    --palette-colour-2: #465058;
    --palette-colour-3: #94979B;
    --palette-colour-4: #V0CCD0;
    --palette-colour-5: #EAEAEA;
    --default-font: #A2A79E;
}

* {
    font-family: Inconsolata, monospace;
}

body {
    background-color: var(--palette-colour-4);
    font-family: Inconsolata, monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans', sans-serif;
}

p {
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    text-indent: 20px;
}

.center {
    margin: 0 auto;
}

div.scroll {
    background-color: var(--palette-colour-5);
    width: auto;
    height: 100px;
    overflow: scroll;
}

.container {
    max-width: 70em;
    width: inherit;
    @include make-container();
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar a{
    font-family: 'Noto Sans', sans-serif;
}


.sidenav {
    font-family: 'Noto Sans', sans-serif;
    padding-top: 20px;
    background-color: var(--palette-colour-1);
    padding: 15px;
}

.sidenav a {
    color: var(--palette-colour-3);
    text-align: center;
}

footer {
    color: var(--palette-colour-3);
    background-color: var(--palette-colour-2);
    padding: 15px;
}

.button {
    -webkit-transition-duration: 0.2s; /* Safari */
    background-color: var(--palette-colour-1);
    border-radius: 2px;
    border: 1px solid  var(--default-font) ;
    color: var(--default-font);
    display: inline-block;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    padding: 4px 22px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.1s;
}

.button:hover {
    background-color: var(--default-font);
    color: var(--palette-colour-1);
    border-radius: 2px;
    border: 1px solid  var(--palette-colour-1) ;
    padding: 4px 22px;
}

.nav-tabs li{
    width: auto;
    font-family: 'Noto Sans', sans-serif;
}

.img-fluid {
    @include float-none;
    max-width: 90%;
    max-height: 450px;
    height: auto;
    width: auto;
}

.facet-img-fluid-right {
    @include float-right;
    max-height: 450px;
    max-width: 48%;
    height: auto;
    width: auto;
}

.facet-img-fluid-left {
    @include float-left;
    max-height: 450px;
    max-width: 48%;
    height: auto;
    width: auto;
}


@media only screen and (min-width: 992px) {
  .row-eq-height{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
