:root {
    --palette-colour-1: #23272B;
    --palette-colour-2: #465058;
    --palette-colour-3: #94979B;
    --palette-colour-4: #V0CCD0;
    --palette-colour-5: #EAEAEA;
    --default-font: #A2A79E;
}

* {
    font-family: Inconsolata, monospace;
}

body {
    background-color: var(--palette-colour-4);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans', sans-serif;
}

p {
    font-family: Inconsolata, monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    text-indent: 20px;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar a{
    font-family: 'Noto Sans', sans-serif;
}

.row.content {height: 900px}

.sidenav {
    font-family: 'Noto Sans', sans-serif;
    padding-top: 20px;
    background-color: var(--palette-colour-1);
    height: 100%;
}

.sidenav a {
    color: var(--palette-colour-3);
    text-align: center;
}

footer {
    font-family: Inconsolata, monospace;
    color: var(--palette-colour-2);
    padding: 15px;
}

@media screen and (max-width: 767px) {
    .sidenav {
    height: auto;
    padding: 15px;
    }
    .row.content {height:auto;} 
}